# Java #
*.class

# Package Files #
*.jar
*.war
*.ear

# Latex #
*.aux
*.log
*.backup
*.pdf
*.toc
Thesis/images/
# Old version of section Elements of Stochastic Analysis #
Thesis/EoSA.txt

# backup files #
*~

# not source directories #
NBfiles/build.xml
NBfiles/nbproject/
NBfiles/build/
NBfiles/dist/

# R #
R/.RData
R/.Rhistory
R/tmp.tex
R/Printed.R

